*{box-sizing: border-box}
body{background: linear-gradient(to bottom, rgb(172, 82, 134),rgb(61, 140, 173));}
header{background-color: rgb(33, 198, 240);}
header .logo{
    font-size: 1.5em;
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;  
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 200px;
    height: 180px;
}
HR{
    color: white;
    font-size: 1.5em;}
fieldset{color: white;}

.ca{padding-bottom: 50px;}

#cartas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.contacto{
    background-color: rgb(240, 240, 240) ;

}
.container{
    max-width: 1400px;
    margin: auto;
    
}
.img{
    width: 1100px;
    height: 550px;
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}
#escultura{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/Escultura_MiguelAngel-Piedad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#orfebreria{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/Orferia_HuevoDeFabergé.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#pintura{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/Pintura_VanGogh-Rhone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#tejidos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/Tejido_Egeria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#login{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    
    padding: 100px;
    
}
#crear{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 65vh;
    
    padding: 100px;
    
}
#centrado{
    text-align:center;
  }
#redes{
    font-size: 1.5em;
    
    width: 500px;
    height: 200px;
    height: 65vh;
}

